@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-body;
}

.custom-container {
    @apply max-w-[980px] mx-4 lg:mx-auto;
}

.ellipsis-text {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
